@import "tailwindcss";

@theme inline {
  --color-primary: #03B19F;
  --color-primary-hover: #028E7F;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-epilogue);
}

:root {
  --background: #F9F5EE;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
}
